<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wellcherish.datasync">

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
        对于以 Android 13（API 级别 33）及更高版本为目标平台的应用，
        discoverPeers() 和 connect() 都需要 android.permission.NEARBY_WIFI_DEVICES 权限。
        对于以较低版本的 Android 为目标平台的应用，这些方法需要 ACCESS_FINE_LOCATION 权限。
        由于这些权限属于危险权限，因此必须在运行时请求这些权限，然后才能调用 discoverPeers() 或 connect()。
    -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>